<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar mensagem</title>
</head>
<body>
    <form method="POST" action="/" enctype="multipart/form-data">
        Nome: <p><input type="text" name="name"></p>
        Email: <p><input type="text" name="email"></p>
        Mensagem:<p><textarea name="message" cols="40" rows="10"></textarea></p>
        Imagem:<p><input name="image" type="file"></input></p>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>